## This notebook is the part 2 of the entire assignment
### this continues from the previous notebook (Part 1)

## 2. Coordinates of Neighborhoods in Toronto: <a name="coordinates"></a>

In [17]:
# Download the Geographical Coordinates from the given url in Coursera
!wget -q -O 'Geospatial_Coordinates.csv' http://cocl.us/Geospatial_data
print('Data downloaded!')

Data downloaded!

In [18]:
df_coord = pd.read_csv("Geospatial_Coordinates.csv")
df_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

- ### Rename the PostalCode so that the column name is consistent

In [19]:
df_coord.rename(columns={"Postal Code":"PostalCode"}, inplace=True)
df_coord.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

- ### Merge two DataFrames using 'PostalCode' as the key

In [20]:
df_toronto_new = pd.merge(df_toronto_grouped, df_coord, left_on="PostalCode", right_on="PostalCode")
df_toronto_new.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

- ### Test the new DataFrame if it is same as the one in Question 2

In [21]:
# Create a DataFrame for testing
check_df_coord = pd.DataFrame(columns=["PostalCode", "Borough", "Neighborhood", "Latitude", "Longitude"])
check_postalcode = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for code in check_postalcode:
    check_df_coord = check_df_coord.append(df_toronto_new[df_toronto_new["PostalCode"] == code])

check_df_coord.reset_index(drop=True)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
1,M2H,North York,Hillcrest Village,43.803762,-79.363452
2,M4B,East York,"Woodbine Gardens, Parkview Hill",43.706397,-79.309937
3,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
4,M4G,East York,Leaside,43.709060,-79.363452
5,M4M,East Toronto,Studio District,43.659526,-79.340923
6,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849
7,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
8,M9L,North York,Humber Summit,43.756303,-79.565963
9,M5V,Downtown Toronto,"CN Tower, Bathurst Quay, Island airport, Harbo...",43.628947,-79.394420
10,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
11,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636

- ### Check the shape pf the new DataFrame (with coordinates)

In [22]:
df_toronto_new.shape

(103, 5)